<!doctype html>
<html>
<head>
<title>honk.thebus.top</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
<style>
{{ .UserStyle }}
</style>
<link rel="manifest" href="/manifest.webmanifest">
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/sw.js') }
</script>
</head>
<body>
<header>
{{ if .UserInfo }}
<details id="topmenu">
<summary>menu<span> <b>{{ .UserInfo.Name }}</b></span></summary>
<ul>
<li><a id="homelink" href="/">home</a>
<li><a id="atmelink" href="/atme">@me<span id=mecount>{{ if .UserInfo.Options.MeCount }}({{ .UserInfo.Options.MeCount }}){{ end }}</span></a>
<li><a href="/chatter">chatter<span id=chatcount>{{ if .UserInfo.Options.ChatCount }}({{ .UserInfo.Options.ChatCount }}){{ end }}</span></a>
<li><a href="/o">tags</a>
<li><a id="savedlink" href="/saved">saved</a>
<li><a href="/honkers">honkers</a>
<li><a href="/account">account</a>
<li><a href="/{{ .UserSep }}/{{ .UserInfo.Name }}">my honks</a>
<li><a href="/about">about</a>
<li><a href="/c">combos</a>
<li><a href="/front">front</a>
</ul>
<form action="/q" method="GET">
<input type="text" name="q" autocomplete=off size=10 placeholder="search">
</form>
</details>
<div id="topspacer">
<p>
<p class="nophone" onclick="window.scrollTo(0,0)">top
</div>
{{ else }}
<div id="topmenu">
<span><a id="homelink" href="/">home</a></span>
<span><a href="/o">tags</a></span>
<span><a href="/about">about</a></span>
{{ if .ShowRSS }}
<span><a href="/rss">rss</a></span>
{{ end }}
<span><a href="/login">login</a></span>
</div>
{{ end }}
</header>
