<!doctype html>
<html>
<head>
<title>honk</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
<style>
{{ .UserStyle }}
</style>
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
</head>
<body>
<header>
{{ if .UserInfo }}
<details id="topmenu">
<summary>menu</summary>
<p>
<ul>
<li><a href="/{{ .UserSep }}/{{ .UserInfo.Username }}">{{ .UserInfo.Username }}</a>
<li><a href="/honkers">honkers</a>
<li style="list-style-type:none; margin-left:-1em">
<details>
<summary>combos</summary>
<ul>
{{ range .Combos }}
<li><a class="combolink" href="/c/{{ . }}">{{ . }}</a>
{{ end }}
</ul>
</details>
<li><a href="/o">tags</a>
<li><a href="/about">about</a>
<li><a href="/front">front</a>
<li><a href="/xzone">xzone</a>
<li><a href="/zonkzone">zonkzone</a>
<li><a href="/funzone">funzone</a>
<li><a href="/account">account</a>
<li>
<form action="/q" method="GET">
<input type="text" name="q" autocomplete=off size=10 placeholder="search">
</form>
</ul>
</details>
<p>
<span><a id="homelink" href="/">home</a></span>
<span><a id="atmelink" href="/atme">@me</a></span>
{{ else }}
<span><a id="homelink" href="/">home</a></span>
<span><a href="/about">about</a></span>
{{ if .ShowRSS }}
<span><a href="/rss">rss</a></span>
{{ end }}
<span><a href="/login">login</a></span>
{{ end }}
</header>
