{{ template "header.html" . }}
<div class="center">
<div class="info" id="infobox">
<p>{{ .ServerMessage }}
{{ if .HonkCSRF }}
{{ template "honkform.html" . }}
{{ end }}
</div>
<div>
{{ $BonkCSRF := .HonkCSRF }}
{{ range .Honks }}
{{ template "honk.html" map "Honk" . "Bonk" $BonkCSRF }}
{{ end }}
</div>
{{ if $BonkCSRF }}
<script>
function post(url, data) {
	var x = new XMLHttpRequest()
	x.open("POST", url)
	x.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
	x.send(data)
}
function bonk(xid) {
	post("/bonk", "CSRF={{ $BonkCSRF }}&xid=" + xid)
}
</script>
{{ end }}
