<div id="honkformhost">
{{ if not .IsPreview }}
<button id="honkingtime"><a href="/newhonk">it's honking time</a></button>
{{ end }}
{{ if and (not .IsPreview) (ne .PageName "search") }}
<button id="refreshhonks" class="refresh">refresh</button>
{{ end }}
</div>
<form id="honkform" action="/honk" method="POST" enctype="multipart/form-data" {{ if not .IsPreview }}class="hide"{{ end }}>
<input type="hidden" name="CSRF" value="{{ .HonkCSRF }}">
<input type="hidden" name="updatexid" id="updatexidinput" value = "{{ .UpdateXID }}">
<input type="hidden" name="rid" id="ridinput" value="{{ .InReplyTo }}">
<h3>let's make some noise</h3>
<div id="mentionarray">
<label for="mentionpeople">Mention handle:</label><noscript> (requires javascript that is not active right now)</noscript>
<input type="search" autocomplete="off" list="allthepeople" size=40 id="mentionpeople" name="mentionpeople" placeholder="at least 3 characters, without the '@'">
<datalist id="allthepeople">
</datalist>
<button id="mentionthem">Add mention</button>
</div>
<textarea name="noise" id="honknoise" placeholder="Honk Noise!">{{ .Noise }}</textarea>
<div class="buttonarray">
<button>it's gonna be honked</button>
<button name="preview" value="preview">preview</button>
<button type=button name="cancel" value="cancel">cancel</button>
</div>
</form>
