{{ template "header.html" . }}
<main>
<div class="info" id="infobox">
<div id="srvmsg">
{{ if .Name }}
<p><img src="/a?a={{ .Name }}" width="64" height="64" loading="lazy">
<h3><a href="https://{{.ServerName}}/u/{{ .Name }}">@{{ .Name }}@{{ .ServerName }}</a></h3>
{{ .WhatAbout }}
{{ end }}
{{ .ServerMessage }}
</div>
{{ if .HonkCSRF }}
{{ template "honkform.html" . }}
{{ end }}
</div>
<div id="honksonpage">
{{ $BonkCSRF := .HonkCSRF }}
{{ $IsPreview := .IsPreview }}
{{ $UserURL := .UserInfo.URL }}
{{ $HasPrefix := .HasPrefix }}
{{ range .Honks }}
{{ template "honk.html" map "Honk" . "BonkCSRF" $BonkCSRF "IsPreview" $IsPreview "UserURL" $UserURL "HasPrefix" $HasPrefix }}
{{ end }}
</div>
</main>
