<p id="honkformhost">
<button onclick="showhonkform(); return false"><a href="/newhonk">it's honking time</a></button>
<form id="honkform" action="/honk" method="POST" enctype="multipart/form-data" style="display: none">
<p>
in reply to: <input type="text" name="rid" id="ridinput" value="{{ .InReplyTo }}" autocomplete=off>
<input type="hidden" name="CSRF" value="{{ .HonkCSRF }}">
<input type="hidden" name="updatexid" value = "{{ .UpdateXID }}">
<p>
<label id="donker">attach: {{ if .SavedFile }} {{ .SavedFile }} {{ else }} <input onchange="updatedonker();" type="file" name="donk"><span></span> {{ end }}</label>
<input type="hidden" name="donkxid" value="{{ .SavedFile }}">
<p id="donkdescriptor">
description: <input type="text" name="donkdesc" value="{{ .DonkDesc }}" autocomplete=off>
<p><button id=checkinbutton type=button onclick="fillcheckin()">checkin</button>
<div id=placedescriptor style="display: none">
<p>name: <input type="text" name="placename" id=placenameinput value="">
<p>url: <input type="text" name="placeurl" id=placeurlinput value="">
<p>latitude: <input type="text" name="placelat" id=placelatinput value="">
<p>longitude: <input type="text" name="placelong" id=placelonginput value="">
</div>
<p>
<textarea name="noise" id="honknoise">{{ .Noise }}</textarea>
<p>
<input type="submit" value="it's gonna be honked">
<input type="submit" name="preview" value="preview">
</form>
