<article class="honk {{ .Honk.Style }}" data-convoy="{{ .Honk.Convoy }}" data-hname="{{ .Honk.Handles }}" data-xid="{{ .Honk.XID }}" data-id="{{ .Honk.ID }}">
{{ $bonkcsrf := .BonkCSRF }}
{{ $IsPreview := .IsPreview }}
{{ with .Honk }}
<header>
{{ if .Oonker }}
{{ if $bonkcsrf }}
<a class="honkerlink" href="/h?xid={{ .Oonker }}" data-xid="{{ .Oonker }}">
{{ else }}
<a class="honkerlink" href="{{ .Oonker }}" rel=noreferrer>
{{ end }}
</a>
{{ end }}
<p>
{{ if $bonkcsrf }}
<a class="honkerlink" href="/h?xid={{ .Honker }}" data-xid="{{ .Honker }}">{{ .Username }}</a>
{{ else }}
<a class="honkerlink" href="{{ .Honker }}" rel=noreferrer>{{ .Username }}</a>
{{ end }}
<span class="clip"><a href="{{ .URL }}" rel=noreferrer>{{ .What }}</a> <span class="date">{{ .Date.Local.Format "02 Jan 2006 15:04 -0700" }}</span></span>
{{ if .Oonker }}
<br>
<span class="left1em clip">
{{ if $bonkcsrf }}
original: <a class="honkerlink" href="/h?xid={{ .Oonker }}" data-xid="{{ .Oonker }}">{{ .Oondle }}</a>
{{ else }}
original: <a class="honkerlink" href="{{ .Oonker }}" rel=noreferrer>{{ .Oondle }}</a>
{{ end }}
</span>
{{ else }}
{{ if .RID }}
<br>
<span class="left1em clip">
<a href="{{ .RID }}" rel=noreferrer>dame</a> - <a class="convoylink" href="/t?c={{ .Convoy }}">skein</a></span>
</span>
{{ end }}
{{ end }}
</header>
<hr />
<details class="noise" {{ .Open }} >
<summary>{{ .HTPrecis }}</summary>
{{ .HTPrecis }}
<p class="content">{{ .HTML }}
{{ range .Donks }}
{{ if .Local }}
{{ if eq .Media "text/plain" }}
<p><a href="/d/{{ .XID }}">Attachment: {{ .Name }}</a>{{ if not (eq .Desc .Name) }} {{ .Desc }}{{ end }}
{{ else if eq .Media "application/pdf" }}
<p><a href="/d/{{ .XID }}">Attachment: {{ .Name }}</a>{{ if not (eq .Desc .Name) }} {{ .Desc }}{{ end }}
{{ else }}
<p><a href="/d/{{ .XID }}">Image: {{ .Name }}</a>{{ if not (eq .Desc .Name) }} {{ .Desc }}{{ end }}
{{ end }}
{{ else }}
{{ if .External }}
<p><a href="{{ .URL }}" rel=noreferrer>External Attachment: {{ .Name }}</a>{{ if not (eq .Desc .Name) }} {{ .Desc }}{{ end }}
{{ else }}
{{ if eq .Media "video/mp4" }}
<p><video controls src="{{ .URL }}">{{ .Name }}</video>
{{ else }}
<p><img src="{{ .URL }}" title="{{ .Desc }}" alt="{{ .Desc }}" loading="lazy">
{{ end }}
{{ end }}
{{ end }}
{{ end }}
</details>
{{ end }}
{{ if and $bonkcsrf (not $IsPreview) }}
<p>
<div class="actions">
{{ if .Honk.Public }}
{{ if .Honk.IsBonked }}
<button class="unbonk">💥</button>
{{ else }}
<button class="bonk">🚀</button>
{{ end }}
{{ else }}
<button disabled>🛑</button>
{{ end }}
<button class="honkback"><a href="/newhonk?rid={{ .Honk.XID }}">⮪</a></button>
<button class="zonk">🗑</button>
<button><a href="/edit?xid={{ .Honk.XID }}">✏ </a></button>
</div>
<p>
{{ end }}
</article>
