{{ template "header.html" . }}
<main>
<div class="info">
<p>
<form action="/savehonker" method="POST">
<span class="title">add new honker</span>
<input type="hidden" name="CSRF" value="{{ .HonkerCSRF }}">
<p><input tabindex=1 type="text" name="name" value="" autocomplete=off> - name
<p><input tabindex=1 type="text" name="url" value="" autocomplete=off> - url
<p><span><label for="peep">just peeping:</label>
<input tabindex=1 type="checkbox" id="peep" name="peep" value="peep"><span></span></span>
<p><input tabindex=1 type="submit" name="add honker" value="add honker">
</form>
</div>
{{ $honkercsrf := .HonkerCSRF }}
{{ range .Honkers }}
<section class="honk">
<header>
<img alt="avatar" src="/a?a={{ .XID }}">
<p style="font-size: 1.8em">{{ .Name }}
</header>
<p>url: <a href="{{ .XID }}" rel=noreferrer>{{ .XID }}</a>
<p>flavor: {{ .Flavor }}
<p><a href="/h/{{ .Name }}">honks</a>
<p>combos:{{ range .Combos }} <a href="/c/{{ . }}">{{ . }}</a>{{ end }}
<form action="/savehonker" method="POST">
<input type="hidden" name="CSRF" value="{{ $honkercsrf }}">
<input type="hidden" name="honkerid" value="{{ .ID }}">
<p>combos: <input type="text" name="combos" value="{{ range .Combos }}{{ . }} {{end}}">
<p>depart: <input type="text" name="goodbye" value="" autocomplete=off> (say "goodbye")
<p><input type="submit" name="save" value="save">
</form>
</section>
{{ end }}
</main>
