{{ template "header.html" . }}
<main>
<div class="info" id="infobox">
<div id="srvmsg">
{{ if .Name }}
<p><img src="/a">
<p><h3>{{ .Name }}@{{ .ServerName }}</h3>
<p>{{ .WhatAbout }}
{{ end }}
<p>{{ .ServerMessage }}
</div>
{{ if .HonkCSRF }}
{{ template "honkform.html" . }}
<script src="/honkpage.js{{ .JSParam }}" defer data-csrf="{{ .HonkCSRF }}" data-pagename="{{ .PageName }}" data-pagearg="{{ .PageArg }}" data-tophid="{{ .TopHID }}" data-srvmsg="{{ .ServerMessage }}"></script>
{{ if .LocalJSParam }}
<script src="/local.js{{ .LocalJSParam }}" defer></script>
{{ end }}
{{ end }}
</div>
<div id="honksonpage">
<div>
{{ $BonkCSRF := .HonkCSRF }}
{{ $IsPreview := .IsPreview }}
{{ range .Honks }}
{{ template "honk.html" map "Honk" . "BonkCSRF" $BonkCSRF "IsPreview" $IsPreview }}
{{ end }}
</div>
</div>
</main>
