{{ template "header.html" . }}
<div class="center">
<div class="info">
<p>
<form action="/savehonker" method="POST">
<span class="title">add new honker</span>
<input type="hidden" name="CSRF" value="{{ .HonkerCSRF }}">
<p><input tabindex=1 type="text" name="name" value="" autocomplete=off> - name
<p><input tabindex=1 type="text" name="url" value="" autocomplete=off> - url
<p><span><label for="peep">just peeping:</label>
<input tabindex=1 type="checkbox" id="peep" name="peep" value="peep"><span></span></span>
<p><input tabindex=1 type="submit" name="add honker" value="add honker">
</form>
</div>
{{ range .Honkers }}
<div class="honk" id="honker{{ .ID }}">
<p>
<span class="linktitle">{{ .Name }}</span>
<p>url: {{ .XID }}
<p><a href="/h/{{ .Name }}">honks</a>
<p>flavor: {{ .Flavor }}
</div>
{{ end }}
</div>
</div>
