{{ template "header.html" . }}
<main>
<div class="hfcsheader">
<h1>Honkers</h1>
</div>
<div class="hfcsadd">
<h2>add new honker</h2>
<form action="/submithonker" method="POST">
<input type="hidden" name="CSRF" value="{{ .HonkerCSRF }}">
<p><label for=url>honker url:</label><br>
<input tabindex=1 type="text" name="url" value="" autocomplete=off>
<p><span><label class=button for="peep">skip subscribe:
<input tabindex=1 type="checkbox" id="peep" name="peep" value="peep"></label></span>
<p><button tabindex=1 name="add honker" value="add honker">add honker</button>
</form>
</div>
{{ $honkercsrf := .HonkerCSRF }}
{{ with .Honkers }}
<div class="hfcsheader">
<h2>honkers list</h2>
</div>
{{ end }}
{{ range .Honkers }}
<div class="hfcssaved">
<b>{{ .Name }}</b> ({{ .Flavor }}) <a href="/h/{{ .Name }}">honks</a> <a href="{{ .XID }}" rel=noreferrer>home</a>
<hr>
<form class="honkersform" action="/submithonker" method="POST">
<input type="hidden" name="CSRF" value="{{ $honkercsrf }}">
<input type="hidden" name="honkerid" value="{{ .ID }}">
<!-- required because .Name will be empty if we unsub -->
<input type="hidden" name="name" value="{{ .Name }}">
<!-- pretty useless now, but may be expected by callbacks later -->
<input type="hidden" name="combos" value="">
<button name="sub" value="sub">(re)sub</button>
{{ if ne .Flavor "unsub" }}
<button name="unsub" value="unsub">unsub</button>
{{ end }}
<button name="delete" value="delete">delete</button>
</form>
</div>
{{ end }}
</main>
