$bg-page: #305;
$bg-dark: #002;
$fg: #dde;
$fg-subtle: #aab;
$fg-limited: #a79;

body {
	background: $bg-page;
	color: $fg;
	font-size: 1em;
	word-wrap: break-word;
	font-family: sans-serif, "Noto Color Emoji";
}
pre, code {
	white-space: pre-wrap;
}
blockquote {
	margin-left: 0em;
	padding-left: 0.5em;
	border-left: 1px solid $fg-subtle;
}
table {
	display: block;
	max-width: 100%;
	overflow-x: auto;
}
a {
	color: $fg;
}
form, input, textarea {
	font-family: monospace, "Noto Color Emoji";
}
p {
	margin-top 1em;
	margin-bottom: 1em;
}
input {
	background: $bg-page;
	color: $fg;
	font-size: 1.0em;
	line-height: 1.2em;
	padding: 0.5em;
}
body > header {
	margin: 1em auto;
	font-size: 1.5em;
}
body > header p {
	margin-left: 4em;
}
body > header span {
	margin-left: 2em;
}
header > details {
	background: $bg-page;
	padding: 1em;
	position: fixed;
	top: 0;
	display: inline;
}
header > details[open] {
	background: $bg-dark;
	border: 1px solid $fg;
}
header > details li {
	margin: 1em 0em 1em 0em;
}
main {
	max-width: 1200px;
	margin: auto;
	font-size: 1.5em;
}
.info {
	background: $bg-dark;
	border: 1px solid $fg;
	margin-bottom: 1em;
	padding: 0em 1em 0em 1em;
}
.info div {
	margin-top 1em;
	margin-bottom: 1em;
}
label, button, form input[type=submit], select {
	font-size: 16px;
	font-family: monospace;
	color: $fg;
	background: $bg-page;
	border: 1px solid $fg;
	padding: 0.5em;
}
button a {
	text-decoration: none;
}
form {
	margin-top: 1em;
}
textarea {
	padding: 0.5em;
	font-size: 1em;
	background: $bg-page;
	color: $fg;
	width: 600px;
	height: 8em;
	margin-bottom: 0.5em;
	box-sizing: border-box;
	max-width: 100%;
}
input[type="checkbox"] {
	position: fixed;
	top: -9999px;
}
input[type="checkbox"] + span:after {
	content: "no";
}
input[type="checkbox"]:checked + span:after {
	content: "yes";
}
input[type="checkbox"]:focus + span:after {
	outline: 1px solid $fg;
}
input[type=file] {
	display: none;
}

.honk {
	margin: auto;
	background: $bg-dark;
	border: 1px solid $fg;
	border-radius: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
	overflow: hidden;
}
.honk #honkform {
	padding: 1em;
	border: 1px solid $fg;
}

.honk a {
	color: $fg;
}
.honk header .clip a {
	color: $fg-subtle;
}
.honk header {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8em;
	margin-top: 1em;
	height: 64px;
}
.honk header img {
	float: left;
	margin-right: 1em;
	width: 64px;
	height: 64px;
}
.honk header p {
	margin-top: 0px;
}
.honk button {
	margin-left: 4em;
	margin-top: 2em;
}
.subtle {
}
.subtle .noise {
	color: $fg-subtle;
	font-size: 0.8em;
}
.subtle .noise a {
	color: $fg-subtle;
}
.limited {
	border: 1px solid $fg-limited;
	color: $fg-limited;
}
.limited .noise {
	color: $fg-limited;
}
.limited .noise a {
	color: $fg-limited;
}
details.noise[open] summary {
	display: none;
}
.inlineform {
	display: inline;
}
.inlineform select {
}
.honk details.actions summary {
	color: $fg-subtle;
}
.limited details.actions summary {
	color: $fg-limited;
}
h1, h2 {
	font-size: 1.2em;
}
h3, h4 {
	font-size: 1.1em;
}

img:not(.emu) {
	background: $bg-page;
}
img, video {
	max-width: 100%
}
img.emu {
	width: 2em;
	height: 2em;
	vertical-align: middle;
	margin: -2px;
	object-fit: contain;
}
@media screen and (max-width: 740px) {
	body {
		font-size: 12px;
	}
	.honk header {
		height: 52px;
	}
	.honk header img {
		width: 48px;
		height: 48px;
	}
}
