body {
	background: var(--bg-page);
	color: var(--fg);
	word-wrap: break-word;
	font-family: sans-serif, "Noto Color Emoji";
	overscroll-behavior-y: contain;
}
h1, h2 {
	margin-top: unset;
	text-align: center;
}
a {
	color: var(--header);
	text-decoration: none;
}
pre, code {
	white-space: pre-wrap;
}
blockquote {
	margin-left: 0em;
	margin-bottom: 0em;
	padding-left: 0.5em;
	border-left: 1px solid var(--fg-subtle);
}
cite {
	margin-left: 2em;
}
table {
	overflow-x: auto;
}
form, input, textarea {
	font-family: monospace, "Noto Color Emoji";
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
input {
	background: var(--bg-page);
	color: var(--fg);
	padding: 0.4em;
}
body > header {
	margin: 1em auto;
}
main {
	max-width: var(--width);
	margin: auto;
}
hr {
	border-color: var(--hl);
}
.info {
	background: var(--bg-dark);
	margin-bottom: 1em;
	padding: 1em;
}
label.button, button, select {
	font-family: monospace;
	color: var(--fg);
	background: var(--bg-page);
	border: 1px solid var(--hl);
	padding: 0.5em;
	white-space: nowrap;
}
button {
	cursor: pointer;
}
textarea {
	padding: 0.5em;
	background: var(--bg-page);
	color: var(--fg);
	width: 100%;
	height: 10em;
	margin-bottom: 0.5em;
	box-sizing: border-box;
	max-width: 100%;
}

.honk {
	margin: auto;
	background: var(--bg-dark);
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
	overflow: hidden;
}



.honk	.noise	code .kw { font-weight: bold; }
.honk	.noise	code .bi { font-weight: bold; }
.honk	.noise	code .st { color: var(--fg-subtle); }
.honk	.noise	code .nm { color: #ba88ff; }
.honk	.noise	code .op { color: #ba88ff; }
.honk	.noise	code .tp { font-weight: bold; }
.honk	.noise	code .cm { color: var(--fg-subtle); font-style: italic; }
.honk	.noise	code .al { color: #aaffbb; }
.honk	.noise	code .dl { color: #ffaabb; }

details.noise[open] summary {
	display: none;
}
@media screen and (max-width: 1360px) {
	.nophone {
		display: none;
	}
}


/*
 * Import from local.css that did not exist in base honk
 */

#topmenu {
	margin: auto;
	max-width: var(--width);
	background-color: var(--bg-dark);
	text-align:center;
	padding: .25em;
}
#topmenu form {
	display: inline;
	margin: 0;
	padding: 0;
}
#topmenu form > input {
	border: 0;
	filter: grayscale(10%);
}
div.contact {
	text-align: center;
	font-style: italic;
}
#honkformhost button {
	display: inline;
	flex: auto;
	text-align: center;
}
button#honkingtime a {
	text-align: center;
	display: block;
	margin: 0 auto;
	color: var(--fg);
}
#honkformhost {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 1em;
}
#honkform p.buttonarray {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;
}
.buttonarray button, .buttonarray > span {
    flex-grow: 1;
    margin-top: 1em;
}
details#topmenu ul li {
	flex-basis: calc(25%);
	text-align: left;
	padding: 0px;
	margin: .5em;
}
details#topmenu ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	align-items: initial;
}
details#topmenu form input {
	width: 100%;
	margin-bottom: 1em;
	padding: 0;
}
.honk header {
	font-size: 100%;
	white-space: normal;
	border-bottom: 1px solid var(--hl);
	padding: 0px;
	margin-bottom: 0px;
}
.honk header .clip {
	height: auto;
	color: var(--header);
	margin: .2em;
}
.honk header .clip a, .contact a, details.noise > a, .subtle .noise a, .honk a {
	color: var(--header);
}
.honk hr {
	margin-top: 0px;
	height: 0px;
	border: 1px;
	background-color: var(--hl);
}
header > p > a.honkerlink, header > p > a[class=""] /* honkerlink removed by javascript ...*/ {
	font-weight: bold !important;
	color: var(--fg) !important;
	text-decoration: none !important;
}
.date {
	color: var(--fg);
}
.subtle .noise {
	font-size: 100%;
}
.honk details.actions summary {
	color: var(--headerlink);
}
.honk .baseactions, div[id^="evenmore"] {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.actions button > a {
	color: var(--fg);
}
.honk .actions button {
	margin-left: 5px;
	margin-top: 1em;
	display: inline;
	flex: auto;
}


/*
 * CSP: style-src: self
 */

li.details {
	list-style-type: none;
	margin-left: -1em;
}

.left1em {
	margin-left: 1em;
}

div[id^="evenmore"].hide {
	display:none;
}

div[id^="evenmore"] {
	display:flex;
}

.hide {
	display: none;
}

.textright {
	text-align: right;
}

.wsnowrap {
	white-space: nowrap;
}

.fontmonospace {
	font-family: monospace;
}

/*
 * SUPER override
 */

html {
	--bg-page: #020a18;
	--bg-dark: #071c2f;
	--fg: #fdf6e3;
	--hl: #93a1a1;
	--fg-subtle: #eee8d5;
	--fg-limited: #eee8d5;
	--header: #b1e2ff;
	--headerlink: #b1b6ff;
	--width: 800px;
	.glow {
		box-shadow: 0px 0px 16px var(--hl);
	}

}
@media (prefers-color-scheme: light) {
	html {
		--bg-page: #244982;
		--bg-dark: #fffbf9;
		--fg: #292d08;
		--hl: #2c2649;
		--fg-subtle: #000000;
		--fg-limited: #000000;
		--header: #720000;
		--headerlink: #720000;
		--width: 800px;
	}
	button, input, textarea {
		background-color: #faebd7;
	}
	.glow {
		box-shadow: 0px 0px 16px var(--bg-dark);
	}
}

