{{ template "header.html" . }}
<main>
<div class="info">
<p>
Work in progress
</div>
{{ $zonkcsrf := .ZonkCSRF }}
{{ range $how, $filters := .Filters }}
{{ range $filters }}
<section class="honk">
<p>How: {{ $how }}
{{ with .Actor }}<p>Who: {{ . }}{{ end }}
{{ with .Text }}<p>What: {{ . }}{{ end }}
<form action="/zonkzonk" method="POST">
<input type="hidden" name="CSRF" value="{{ $zonkcsrf }}">
<input type="hidden" name="zonkerid" value="{{ .ID }}">
<input type="hidden" name="itsok" value="iforgiveyou">
<button name="pardon" value="pardon">pardon</button>
</form>
<p>
</section>
{{ end }}
{{ end }}
</main>
